.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  img {
    width: 20%;
    border-radius: 20%;
  }
  h2 {
    padding: 2rem;
  }
  h3 {
    padding: 1rem;
  }
}
