* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  color: rgb rgb(99, 99, 179);
  font-weight: 400;
}

@import "./song";
@import "./player";
@import "./library";
